@charset "UTF-8";

#icone_menu_responsivo{
    display: block;
}

#menu-principal {
    display: none;
    flex-direction: column;
    position: absolute;
}

#contato {
    width: 100%;
}

.container {
    width: 100%;
}