@charset "UTF-8";

svg:first-child path {
	stroke-width: 30px;
  stroke-dasharray: 2000;
	stroke-dashoffset: 0;
	animation: 2s desenha infinite alternate;
    	
}

@keyframes desenha {
  0% {
		/* Inicio: Empurra o total */
    stroke-dashoffset: 2000; 
  }
  100% {
		/* Fim: Volta pro inicio */
    stroke-dashoffset: 0;
  }
}